<div class="text-center">
  <h1>{{pageTitle}}</h1>
</div>
<div class="card">
<br>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/iseries-as400.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Andrzej Korcz</h3>
      </div>

    </div>
  </div>
</div>
